pyTelegramBotAPI==4.14.0
Flask==2.3.3
requests==2.31.0
gunicorn==21.2.0
python-dotenv==1.0.0
Werkzeug==2.3.7
Pillow>=10.0.1
blinker==1.6.3
click==8.1.7
scikit-learn==1.5.1
joblib==1.4.2
pandas==2.0.3
numpy==1.24.3
